@import "custom";
@import "bootstrap";

.card {
  background-color: #18534F;
  color: $body-bg;

  @include media-breakpoint-up(sm) {
    border-radius: 1rem;
    overflow: hidden;
  }
}

.card-header {
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
}

.carousel-caption {
  text-shadow: 0 0.125rem 0.25rem #000 !important;
}

.icon-instagram {
  fill: $link-color;
  height: 40px;
  width: 40px;

  &:hover {
    fill: $link-hover-color;
  }
}

.icon-quote {
  fill: $body-bg;
  height: 40px;
  width: 40px;
}

.img-logo {
  fill: $body-color;
  height: 192px;
  width: 192px;

  @include media-breakpoint-up(sm) {
    height: 256px;
    width: 256px;
  }
}
